# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCKryi4nddEk-j39RAyfgUppTag40bo678
VITE_FIREBASE_AUTH_DOMAIN=mascotas-muni-2026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mascotas-muni-2026
VITE_FIREBASE_STORAGE_BUCKET=mascotas-muni-2026.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=184498494004
VITE_FIREBASE_APP_ID=1:184498494004:web:e471ad92fc74a1bb888861
